* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

body {
  padding: 5rem 0;
  min-height: 100vh;
  background-color: #1b14bb;
}
.container {
  width: 540px;
  margin: 0 auto;
  text-align: center;
  background: #1b14bb;
  padding: 2rem 1rem;
  border-radius: 35px;
  filter: drop-shadow(8px 8px #ffc03d);
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 2.35rem;
  filter: drop-shadow(4px 2px #f80404);
}
form {
  margin: 2rem 0;
}
form input {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 1.3rem;
  background: #ffc03d;
  transition: 0.7s;
  filter: drop-shadow(5px 3px #f80404);
}
form input::placeholder {
  color: white;
}
form input:focus {
  background-color: #1b14bb;
  border: 3px solid #f80404;
  filter: drop-shadow(-5px -3px #ffc03d);
}

ul {
  text-align: left;
}

ul li {
  list-style: none;
  padding: 0.7rem;
  position: relative;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  cursor: pointer;
  appearance: none;
  background: transparent;
padding: 10px;
  border-radius: 20%;
}

.checkbox::after {
  content: "✔";
  font-size: 1.4rem;
  margin: auto;
  color: transparent;
}

.checkbox:checked::after {
  color: #ffc03d;
}

button {
  background: transparent;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
